* {
    margin: 0px;
    padding: 0px;
    background: none;
    color: gray;
    font-family: jura;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    z-index: -1;
}
