* {
    margin: 0px;
    padding: 0px;
    background: none;
    color: gray;
    font-family: jura;
}

:root {
    --theme: white;
    background: var(--theme);
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--theme);
    filter: blur(40px);
    z-index: -1;
}
