* {
    margin: 0px;
    padding: 0px;
    background: none;
    font-family: jura;
}

:root {
    background-color: black;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--theme);
    z-index: -1;
}
