.button {
  border: solid grey 2px;
  border-radius: 2rem;
  font-size: 1.4rem;
  margin: 1rem 2rem;
  padding: 0.6rem 3rem;
  letter-spacing: 4px;
  background: #00000080;
    backdrop-filter: blur(16px);
}

.button:hover {
}
