.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: none;
  margin: 2rem 0;
}
.timer {
  font-family: 'Inconsolata';
  width: 100%;
  font-size: 10rem;
  text-align: center;
  margin: 4rem 4rem;
}
