.tasks-container {
  /* margin: 1rem 0; */
  border: solid gray 1px;
  border-radius: 2rem;
  top: 20%;
  position: absolute;
  backdrop-filter: blur(20px);
  background: #00000060;
  /* transition: 0.4s ease all; */
  /* height: 5ch; */
}

.tasks-container.visible {
  /* transition: 0.4s ease all; */
  min-height: 60vh;
  padding: 1rem;
  width: 40vw;
  z-index: 2;
}

.task-button {
  border: none;
  background: none;
  height: 1.4rem;
  width: 1.4rem;
}

.task {
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
  /* border: solid grey 1px; */
  border-radius: 2rem;
  /* height: 2.4rem; */
  margin: 0.4rem 0;
  padding: 0.2rem 1rem;
  /* padding-top: 0.8rem; */
  font-size: 1.4rem;
  text-align: center;
}

.task-hover {
  background-color: #50505040;
}

.task-input {
  border: none;
  outline: none;
  font-size: 1.4rem;
}

.task-delete {
  height: 1.6rem;
  width: 1.6rem;
}

.task-add {
  font-size: 2rem;
  background: #50505080;
  border-radius: 2rem;
  text-align: center;
  width: 100%;
  border: none;
}
