.container {
    width: 75vw;
    /* height: 60vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #101010;
}

.buttons {
    
}
